/HW1.X/build/default/
/HW1.X/dist/default/
/HW4/SPI.X/nbproject/private/
/HW4/SPI.X/build/default/
/HW4/SPI.X/dist/default/
/HW5.X/nbproject/private/
/HW5.X/build/default/
/HW5.X/dist/default/
/LCD.X/nbproject/private/